
@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-UltraLight.eot');
    src: url('../css/fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Gilroy-UltraLight.woff2') format('woff2'),
    url('../css/fonts/Gilroy-UltraLight.woff') format('woff'),
    url('../css/fonts/Gilroy-UltraLight.ttf') format('truetype'),
    url('../css/fonts/Gilroy-UltraLight.svg#Gilroy-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Light.eot');
    src: url('../css/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Gilroy-Light.woff2') format('woff2'),
    url('../css/fonts/Gilroy-Light.woff') format('woff'),
    url('../css/fonts/Gilroy-Light.ttf') format('truetype'),
    url('../css/fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Regular.eot');
    src: url('../css/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../css/fonts/Gilroy-Regular.woff') format('woff'),
    url('../css/fonts/Gilroy-Regular.ttf') format('truetype'),
    url('../css/fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Medium.eot');
    src: url('../css/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../css/fonts/Gilroy-Medium.woff') format('woff'),
    url('../css/fonts/Gilroy-Medium.ttf') format('truetype'),
    url('../css/fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-SemiBold.eot');
    src: url('../css/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('../css/fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../css/fonts/Gilroy-SemiBold.ttf') format('truetype'),
    url('../css/fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Bold.eot');
    src: url('../css/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../css/fonts/Gilroy-Bold.woff') format('woff'),
    url('../css/fonts/Gilroy-Bold.ttf') format('truetype'),
    url('../css/fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-ExtraBold.eot');
    src: url('../css/fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../css/fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../css/fonts/Gilroy-ExtraBold.ttf') format('truetype'),
    url('../css/fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Heavy.eot');
    src: url('../css/fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Gilroy-Heavy.woff2') format('woff2'),
    url('../css/fonts/Gilroy-Heavy.woff') format('woff'),
    url('../css/fonts/Gilroy-Heavy.ttf') format('truetype'),
    url('../css/fonts/Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}